html, body {
  font-family: 'Quicksand', sans-serif;
  z-index: 8888;
  overflow: hidden; /* Prevent scrollbars during loading */
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 100%; /* Ensure body and html take full height */
  height: 100%; /* Ensure body and html take full height */
  margin: 0; /* Remove default margin */
  background-image: url(../images/trail1.png); /* Background image */
}

h1{
  z-index: 1;
  color: white; /* Ensure text is visible against the background */
  text-align: left; /* Align text to the left */
  margin-left: 10px;
  opacity: 0; /* Start text invisible */
  animation: fadeIn 0.7s ease-out 1s forwards; /* Fade in text after background */
}

h4 {
  font-size: 1.2em;
  z-index: 1;
  color: white; /* Ensure text is visible against the background */
  text-align: left; /* Align text to the left */
  margin-left: 10px;
  opacity: 0; /* Start text invisible */
  animation: fadeIn 1s ease-out 1s forwards; /* Fade in text after background */
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align text to the top */
  align-items: center; /* Center the container horizontally */
  z-index: 9999;
  background-color: rgba(0,0,0,0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container */
  height: auto;
  width: 70%;
  border-radius: 10px;
  padding-top: 10px; /* Add some padding at the top if needed */
}

.btn {
  justify-content: flex-end;
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  font-size: 16px;
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
background-image: url(../images/downloadbtn.jpg);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease-in-out;
  animation: fadeIn 0.7s ease-out 2s forwards; /* Fade in button after text */
}

.btn:hover {
  transform: scale(1.3);
  background-color: #0056b3;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from { opacity: 0;  }
  to { opacity: 1; }
}

@media (min-width: 300px) and (max-width: 900px) {
  .container {
    width: 80%;
   top: 45%;
 
  }
  html, body { 
    background-image: url(../images/trail1m.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}